main {
  position: relative;
}
header {
  height: 105vh;

  background: url(https://png.pngtree.com/background/20230519/original/pngtree-video-store-that-has-much-to-choose-from-picture-image_2652600.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.sec-1-1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  margin: 0rem 10rem 0rem 10rem;
}
.heirath1{
color: rgb(255, 145, 0);
font-weight: 800;
font-size: 3rem;

}
.heirath1 span{
 color:  white;
  }
.logo-sec1 img {
  height: 8rem;
}
.nav-sec1 {
  align-items: center;
  text-align: center;
}

select {
  height: 1.8rem;
  width: 6.5rem;
  font-weight: 600;
  font-size: 0.9rem;
  text-align: center;
  align-items: center;
  border-style: none;
  border: 0.01rem solid;
  border-radius: 0.2rem;
  background-color: transparent;
  color: white;
}
option {
  border-style: none;
  color: white;
}
select i {
  font-size: 10px;
  color: white;
}
.sign-btn1 {
  height: 2rem;

  font-weight: 600;
  font-size: 0.9rem;

  text-align: center;
  align-items: center;
  background: rgb(255, 145, 0);
  border-style: none;
  border-radius: 0.2rem;

  margin-left: 2rem;
}
.sign-btn1:hover {
  background: rgb(163, 100, 16);
  cursor: pointer;
}
#sec-2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  width: 80%;
  margin: auto;
  gap: 1.5rem;
  margin-top: 7rem;
  text-align: center;
}
#sec-2 h1 {
  font-size: 3.2rem;
  font-weight: 700;
}
.p1 {
  font-weight: 400;
  font-size: 1.5rem;
}
.p2 {
  font-weight: 400;
  font-size: 1.22rem;
}
.input-1 {
  height: 3.6rem;
  width: 23rem;
  background: transparent;
  border-radius: 0.2rem;
  border-style: none;
  font-weight: 600;
  color: white;
  font-size: 0.8rem;
  background-color: rgba(68, 63, 63, 0.379);
  border: 0.01rem solid;
  border-color: rgb(239, 237, 234);
  padding: 0.8rem;
}
.search-btn {
  height: 3.5rem;
  width: 10rem;
  font-weight: 600;
  font-size: 1.1rem;
  margin-left: 0.7rem;
  padding: 0.8rem;
  text-align: center;
  align-items: center;
  background: rgb(255, 145, 0);
  border-style: none;
  border-radius: 0.2rem;
}
button:hover {
  background: rgb(220, 128, 8);
  cursor: pointer;
}

/*  section 2 */
.line {
  height: 5px;
  width: 100vw;
  background-color: rgb(86, 82, 82);
}
#section2 {
  height: 80vh;
  width: 100vw;
  background: black;

  display: flex;
  align-items: center;
  text-align: center;
  justify-content: space-around;
  padding: 0rem 10rem 0rem 10rem;
  position: relative;
}
.text-sec {
  text-align: start;
  width: 50vw;
  gap: 1rem;
}
.text-sec h1 {
  font-size: 3.3rem;
  font-weight: 700;
}
.text-sec p {
  font-size: 1.3rem;
  font-weight: 100;
}
.vdo-sec {
  width: 50vw;
}
.vdo-sec img {
  height: 14rem;


}
#gray {
  position: absolute;
  bottom: 0rem;
  height: 12rem;
  width: 100vw;
  background-image: linear-gradient(
    180deg,
    transparent,
    rgba(8, 8, 8, 0.95),
    #0b0a0a
  );
}
/*footer  */
footer {
  height: 140vh;
  width: 100vw;
  background: rgb(0, 0, 0);

  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: space-around;
  padding: 0rem 10rem 0rem 10rem;
  position: relative;
}
footer h1 {
  font-size: 3.5rem;
  margin-top: 3rem;
}
footer p {
  font-size: 1.3rem;
  margin-top: 1rem;
}

.ask-div {
  width: 75vw;
  height: 6rem;
  margin: auto;
  font-size: 1.7rem;
  background-color: #2f2e2e;
  display: flex;
  justify-content: space-between;
  margin: 0.5rem;
  align-items: center;
  text-align: center;
  padding: 2rem;
  font-weight: normal;
}
.ask-div:hover {
  background-color: #524f4f;
  cursor: pointer;
}
footer .search {
  margin-bottom: 5rem;
}
#footer-2 {
  height: 70vh;
  padding-left: 10rem;
  width: 100vw;
  background: black;

  display: flex;
  flex-direction: column;
  align-items: start;
  text-align: center;
  justify-content: space-around;
}

a {
  gap: 1rem;
  font-weight: 100;
  min-width: 12rem;
}
.tags {
  max-width: 80%;
  display: flex;
  flex-wrap: wrap;
  gap: 0rem 5rem;
  text-align: start;
  align-items: start;
  justify-content: space-around;
  
}

/*** media query */
@media only screen and (max-width: 600px) {
  .sec-1-1 {
    gap: 5rem;
    margin-left: 3rem;
  }
  
  
  .logo-sec1 img {
    height: 5rem;
  }

  select {
    height: 1.5rem;
    width: 5rem;
    font-weight: 300;
    font-size: 0.7rem;
  }
  .sign-btn1 {
    height: 1.7rem;
    min-width: 5rem;
    font-weight: 300;
    font-size: 0.7rem;
    white-space: nowrap;
  }
  #sec-2 h1 {
    font-size: 2rem;
  }
  #sec-2 p {
    font-size: 1rem;
  }
  .input-1 {
    height: 2.5rem;
    width: 15rem;
    margin: .5rem;
  }
  .search-btn {
    height: 2rem;
    width: 6rem;
    align-items: center;
    text-align: center;
    font-weight: 300;
    font-size: .7rem;
   
  }
  /*  section 2 */
.line {
    height: 2px;
  }
  #section2 {
    height: 60vh;
    width: 100vw;
    background: black;
    padding: 0rem 4rem 0rem 4rem;
    gap: 2rem;
    
  }
  
  .text-sec h1 {
    font-size: 1.5rem;
    font-weight: 700;
  }
  .text-sec p {
    font-size: .8rem;
    
  }
 
  .vdo-sec img {
    height: 7rem;
  }
  /*footer  */

  footer h1 {
    font-size: 1.8rem;
    margin-top: 1rem;
    white-space: nowrap;
  }
  footer p {
    font-size: 1rem;
    margin-top: 1rem;
    min-width: 70vw;
  }
  
  .ask-div {
    width: 75vw;
    height: 1rem;
    font-size: 1rem;
 
  }

  #footer-2 {
   
   padding-left: 2rem;
  
   
  }
  ul {
    display: flex;
    flex-direction: column;
   
   gap: 0.5rem;
  }
  #footer-2 a {
    gap: 1rem;
    font-weight: normal;
    font-size: .8rem;
     white-space: nowrap;

  }
  .tags {
    display: flex;
    justify-content: space-around;
    gap: 3rem;
  }
  
  

}
@media only screen and (max-width: 400px) {
  .sec-1-1 {
    gap:2rem;
    margin-left: 1rem;
  }
 
  .heirath1{
   
    font-size: 2.3rem;
    
    }
  .logo-sec1 img {
    height: 5rem;
  }

  select {
   
    width: 4rem;
   
  }
  .sign-btn1 {
  
    min-width: 4rem;
    
  }
  #sec-2 {
 
    width: 90%;
    margin: auto;
    gap: 1rem;
    margin-top: 9rem;
    text-align: center;
  }
  header {
    height: 850px;
  
   

  }
  #section2 {
    height: 40vh;
    width: 100vw;
    background: black;
    padding: 0rem 2rem 0rem 2rem;
    gap: 2rem;
    
  }
  
  .text-sec h1 {
    font-size: 1.5rem;
    font-weight: 700;
  }
  .text-sec p {
    font-size: .8rem;
    
  }
 
  .vdo-sec img {
    height: 7rem;
  }
  footer h1 {
    font-size: 1.5rem;
   
 
   
  }
  footer p {
    font-size: 1rem;
   
    min-width: 80vw;
    
  }
  #footer-2 {
   
    padding-left: 2rem;
    width: 100vw;
  
  }
  
  a {
    gap: 1rem;
    font-weight: 100;
   
    
  }
  .tags {
    height: 40vh;
    max-width: 90%;
    display: flex;
  
   flex-wrap: wrap;
    gap: 0rem 5rem;
    text-align: center;
  
    justify-content: space-around;
    
  }
  footer{
    height: 90vh;
  }

    

  
  

  
  }